@page
@model IndexModel
@{
    ViewData["Title"] = "Hjem";
}

<div class="text-center">
    <p>Røverne Præsenterer...</p>
    <h1 class="display-4">Skum og Sandhed</h1>
</div>

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css"/>

<table id="beerTable" class="display">
    <thead>
        <tr>
            <th>Navn</th>
            <th>Bryg År</th>
            <th>Druk År</th>
            <th>ABV</th>
            <th>Gæring</th>
            <th>Gærings Type</th>
            <th>Pris</th>
            <th>Røvernes Rating</th>
            <th>Untappd Rating</th>
        </tr>
    </thead>
</table>

@section Scripts {
    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

    <script>
    $(document).ready(function() {
        $('#beerTable').DataTable({
            ajax: {
                url: 'http://localhost:5234/api/beers', // API port
                dataSrc: '' // fordi API returnerer et array
            },
            columns: [
                { data: 'name' },
                { data: 'releaseYear' },
                { data: 'drinkingYear' },
                { data: 'abv' },
                { data: 'fermentation' },
                { data: 'yeastType' },
                { data: 'price' },
                { data: 'rating' },
                { data: 'untappdRating' }
            ]
        });
    });
    </script>
}
